// all site variables
$font-family		: 'Lucida sans', Arial, Helvetica;
$color-font			: #535353;

$color-primary		: #1abc9c;
$color-pbutton-hover: #3e8e41;
$color-secondary	: #329c2e;
$color-sbutton-hover: #3e8e41;
$color-form-bg		: #f4f7f8;
